.main_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  
  .selection {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

  }
  
  .lang {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
  }
  
  .langselected {
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .show {
    font-size: 18px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 50%;
  }
  
  .selected-languages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  